[Unit]
Description=Git server
After=network-online.target

[Service]
ExecStart=/usr/bin/git daemon --listen=172.16.20.1 --base-path=/srv/git --enable=upload-archive
User=gitsrv
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
#ProtectHome=yes
ProtectProc=noaccess
UMask=077

NoNewPrivileges=yes


[Install]
WantedBy=multi-user.target

